@using System.Globalization
@using Abp.Extensions
@using Abp.Web.Mvc.Extensions
@using Microsoft.Owin.Security
@using MyTempProject.MultiTenancy
@model MyTempProject.Web.Models.Account.LoginFormViewModel

@section Scripts
{
    @*@Html.IncludeScript("~/Views/Account/Login.js")*@
    @Html.IncludeScript("~/Views/Account/Login/Login.js")
}

<!-- <h3 class="form-title">@L("LogIn")</h3> -->


        <div class="loginBox">
            <h3>用户登录</h3>

            @*<div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    <span>
                        <i class="fa fa-warning"></i> @L("PleaseEnterLoginInformation")
                    </span>
                </div>*@

            @if (!Model.SuccessMessage.IsNullOrEmpty())
            {
                <div class="alert alert-success">
                    <button class="close" data-close="alert"></button>
                    <span>
                        @Model.SuccessMessage
                    </span>
                </div>
            }
            <form class="login-form" action="@Url.Action("Login")?returnUrl=@ViewBag.ReturnUrl" method="post">
                <input type="hidden" name="returnUrlHash" />
                @if (ViewBag.IsMultiTenancyEnabled)
            {
                if (Model.TenancyName.IsNullOrEmpty())
                {
                        <div class="form-group">
                            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                            <label class="control-label visible-ie8 visible-ie9">@L("TenancyName")</label>
                            <input class="form-control form-control-solid placeholder-no-fix input-ltr" type="text" placeholder="@L("TenancyName")" name="tenancyName" maxlength="@Tenant.MaxTenancyNameLength" />
                        </div>
                    }
                    else
                    {
                        <input type="hidden" name="tenancyName" value="@Model.TenancyName" />
                    }
                }
                <label class="mt50">
                    <i class="icons icon-user"></i>
                    <input type="text" autocomplete="off" placeholder="帐号" class="inpGreen w100" name="usernameOrEmailAddress" value="@(Model.UserNameOrEmailAddress ?? "")" required />
                </label>
                <label class="mt20">
                    <i class="icons icon-pw"></i>
                    <input type="password" autocomplete="off" placeholder="密码" class="inpGreen w100" name="password" required />
                </label>
                @*<label class="f14 mt10"><input type="checkbox" /><span class="ml10">记住密码</span></label>*@
                <p class="mt50 tlc">
                    <button type="submit" class="btn btn-green-B f18">@L("LogIn")</button>
                </p>
            </form>
        </div>
<div class="center"></div>



    <!-- <div class="create-account">

    </div> -->